{% extends "core/base.html" %}
{% load static %}

{% block title %}Nueva Característica para: {{ factor.name }}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'global/styles.css' %}">
{% endblock %}
{% block extra_js %}
  <script src="{% static 'global/main.js' %}"></script>
{% endblock %}



{% block breadcrumbs %}
{{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'etapa_3' %}"><span style="font-size: 14px; color: white;">Evidencias y Proyectos</span></a></li><li class="breadcrumb-item"><a href="{% url 'etapa_3' %}"><span style="font-size: 14px; color: white;">Evidencias y Proyectos</span></a></li>
    <li class="breadcrumb-item"><a href="{% url 'project_list' %}"><span style="font-size: 14px;color: white;">Proyectos</span></a></li>

    {% if object %}
        <li class="breadcrumb-item"><a href="{% url 'trait_edit' object.pk %}"><span style="font-size: 14px;color: white;">Editar {{trait.name}}</span></a></li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'trait_create' %}"><span style="font-size: 14px;color: white;">Crear Característica</span></a></li>
    {% endif %}
{% endblock %}


{% block content %}
<div class="form-card">
    <h2 class="form-title">Crear Característica para «{{ factor.name }}»</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }} {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <div class="buttons">
            <a href="{% url 'factor_detail' factor.pk %}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar y asociar</button>
        </div>
    </form>
</div>
{% endblock %}
